streamlit
pandas
plotly
matplotlib
sqlalchemy
fpdf2
google-generativeai
google-genai
requests

# comando para instalar libs = python -m pip install -r requirements.txt
# comando para rodar app = python -m streamlit run app.py
# comando para criar banco = python criar_banco.py
